
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Css For styling scrollbar for whole body */
::-webkit-scrollbar {
  width: 5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #838383;
  border-radius: 10px;
}
/* To remove te file upload button on input type=file*/
::-webkit-file-upload-button {
  display: none;
}

html {
  scrollbar-color: #66b3f1 #fff !important;
  scrollbar-width: thin !important; /*auto, thin, none */
}